button {
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.btn-primario {
    background-color: #2682df;
    color: white;
}

.btn-paginacao {
    background-color: #f5b400;
    color: white;

    margin: 30px;
}