button {
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.btn-primario {
    background-color: #2682df;
    color: white;
}

.btn-paginacao {
    background-color: #f5b400;
    color: white;

    margin: 30px;
}

#btn-carrinho {
    position: relative;
}

.quantidade-itens {
    position: absolute;
    top: 23px;
    right: -6px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 1px 5px;
    font-size: 12px;
    display: inline-block; 
    min-width: 20px;
    text-align: center;
}