button {
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.btn-primario {
    background-color: #2682df;
    color: white;
}

.btn-paginacao {
    background-color: #f5b400;
    color: white;

    margin: 30px;
}

.btn-carrinho {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-right: 30px;
}

.quantidade-itens {
    position: absolute;
    top: inherit;
    right: -40px;
    background: var(--bg-5);
    color: white;
    border-radius: 100%;
    padding: 9px 11px;
    font-size: 12px;
    font-weight: 600;
    cursor: default;
}