@import "base/_variaveis.css";
@import "layout/_main-tela-principal.css";
@import "layout/_header.css";
@import "layout/_login.css";
@import "layout/_cadastro.css";
@import "layout/_visualizacao-usuario.css";
@import "layout/_visualizacao-produto.css";
@import "layout/_cadastro-produto.css";
@import "layout/_carrinho.css";
@import "layout/_inscricao-cliente.css";
@import "components/_tabelas.css";
@import "components/_botoes.css";

* {
    padding: 0;
    margin: 0;
    font-family: "Raleway", sans-serif;
}