.container-inscricao-cliente {
    padding: 50px 70px;
}

.container-inscricao-cliente h1 {
    font-size: 30px;
}

.formulario-cadastro-cliente {
    margin: 40px 0;
}

.inscricao-dados-conta-informacoes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    margin-bottom: 20px;
}

.titulo-secao-inscricao {
    font-size: 18px;
    font-weight: 700;
    grid-column-start: 1;
    grid-column-end: 2;
}

.inscricao-dados-inputs {
    display: flex;
    flex-direction: column;
    grid-column-start: 2;
    grid-column-end: 4;
    margin-right: 50px;
}

.inscricao-dados-inputs input,
.inscricao-dados-inputs select {
    padding: 8px;
    font-size: var(--font-tam-normal);
    border-radius: 5px;
    border: 1px solid #d8d8d8;
    background-color: #eeeeee;
}

.formulario-cep-faturamento,
.formulario-cep-entrega  {
    display: flex;
    flex-direction: column;
}

.formulario-cep-faturamento span,
.formulario-cep-entrega span {
    display: flex;
    align-items: center;
}

.formulario-cep-faturamento span button,
.formulario-cep-entrega span button {
    margin-left: 15px;
}

.dados-pessoais,
.enderecos,
.conta-cliente {
    display: flex;
    flex-direction: row;
}

.dados-pessoais div,
.enderecos div div,
.conta-cliente div {
    display: flex;
    flex-direction: column;
}

.dados-pessoais div label,
.conta-cliente div label,
.enderecos div div label,
.formulario-cep-faturamento label,
.formulario-cep-entrega label {
    margin: 0 0 10px;
}


.dados-pessoais div input,
.conta-cliente div input,
.enderecos div div input {
    margin-right: 15px;
    margin-bottom: 15px;
    width: 200px;
}

.titulo-add-endereco {
    margin: 10px 0 20px;
    font-size: 20px;
}

.enderecos {
    margin: 20px 0;
}

.btn-copiar-endereco,
.btn-add-endereco-entrega {
    width: 300px;
}

.inscricao-dados-conta .separador {
    width: 100%;
    margin: 40px 0;
}

.btn-buscar-cep-endereco {
    background-color: var(--bg-3);
    color: var(--font-2);
}

.btn-copiar-endereco,
.btn-add-endereco-entrega {
    background-color: var(--bg-8);
    color: var(--font-2);
}

.btn-inscrever-se,
.btn-atualizar-cadastro-cliente {
    float: left;
    margin: 10px 24% 100px;
    width: 300px;

    padding: 15px;
    background-color: var(--bg-10);
    color: var(--font-2);
    font-size: var(--font-tam-normal);
}

.endereco-padrao-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-wrap: nowrap;
}

.endereco-padrao-container input {
    width: 20px;
    height: 20px;
    margin: 8px;
}