.container-listagem-pedidos-cliente {
    margin: 50px 70px;
    /* background-color: aqua; */
}

.lista-pedidos-cliente {
    width: 100%;
    margin-top: 70px;
}

#corpo-lista-pedidos-cliente tr {
    height: 60px;
    font-size: var(--font-tam-normal);
}

.status-pedido {
    font-weight: 700;
    color: var(--bg-8);
}

.detalhes-pedido-cliente i {
    font-size: var(--font-tam-medio);
    color: var(--bg-7);
    cursor: pointer;
}

#status-pedido-editar {
    padding: 10px;
    font-weight: 700;
    color: var(--bg-8);
    border-radius: 10px;
    border: 1px solid var(--bg-7);
    cursor: pointer;
}

#status-pedido-editar option {
    font-weight: 700;
}

.btn-salvar-status {
    font-weight: 700;
    background-color: #0fc71e;
    font-size: var(--font-tam-pequeno);
    color: var(--bg-0);
    text-transform: uppercase;
}